@{
    ViewBag.Title = "Błąd";
    Layout = "_Layout";
}

<div class="container">
    <h2>Błąd</h2>
    <p>Podane dane są nieprawidłowe. Upewnij się, że imię zostało wprowadzone, a data urodzin jest wcześniejsza niż dzisiaj.</p>
</div>